/*
 * SPDX-License-Identifier: Apache-2.0
 */
#include <st/h7/stm32h747Xi_m7.dtsi>
#include <st/h7/stm32h747xihx-pinctrl.dtsi>

/ {
    soc {
      usbotg_fs: usb@40080000 {
        compatible = "st,stm32-otgfs";
        reg = <0x40080000 0x40000>;
        interrupts = <101 0>, <98 0>, <99 0>;
        interrupt-names = "otgfs", "ep1_out", "ep1_in";
        num-bidir-endpoints = <6>;
        ram-size = <1280>;
        maximum-speed = "full-speed";
        phys = <&otgfs_phy>;
        clocks = <&rcc STM32_CLOCK_BUS_AHB2 0x00000080>;
        status = "disabled";
        label = "OTGFS";
      };

      usbotg_hs: usb@40040000 {
        compatible = "st,stm32-otghs";
        reg = <0x40040000 0x40000>;
        interrupts = <77 0>, <74 0>, <75 0>;
        interrupt-names = "otghs", "ep1_out", "ep1_in";
        num-bidir-endpoints = <9>;
        ram-size = <4096>;
        maximum-speed = "high-speed";
        clocks = <&rcc STM32_CLOCK_BUS_AHB1 0x4000000>;
        phys = <&otghs_ulpi_phy>;
        status = "disabled";
        label= "OTGHS";
      };

		  pinctrl: pin-controller@58020000 {
        usb_otg_hs_ulpi_clk_pa5: usb_otg_hs_ulpi_clk_pa5 {
          pinmux = <STM32_PINMUX('A', 5, AF10)>;
        };
      };
    };

    otghs_ulpi_phy: otghs_ulpi_phy {
      compatible = "usb-nop-xceiv";// "st,stm32-usbphyc";
      #phy-cells = <0>;
      // reg = <0>;
      label = "OTGHS_ULPI_PHY";
      status="okay";
    };

    otghs_fs_phy: otghs_fs_phy {
      compatible = "usb-nop-xceiv";
      #phy-cells = <0>;
      label = "OTGHS_FS_PHY";
    };

    otgfs_phy: otgfs_phy {
      compatible = "usb-nop-xceiv";
      #phy-cells = <0>;
      label = "OTGFS_PHY";
    };

    gpioled: leds {
        compatible = "gpio-leds";
        red_led_1:led_1 {
            gpios = <&gpiok 5 GPIO_ACTIVE_LOW>;
            label = "LED1";
        };
        green_led_2:led_2 {
            gpios = <&gpiok 6 GPIO_ACTIVE_LOW>;
            label = "LED2";
        };
        blue_led_3:led_3 {
            gpios = <&gpiok 7 GPIO_ACTIVE_LOW>;
            label = "LED3";
        };
    };

    gpio_keys {
        compatible = "gpio-keys";
        boot_sel: button_1 {
            label = "BOOT_SEL";
            gpios = <&gpioi 8 GPIO_ACTIVE_HIGH>;
        };

        oscen: oscen {
            label = "OSCEN";
            gpios = <&gpioh 1 GPIO_ACTIVE_HIGH>;
            status = "disabled";
        };
    };

    sdram1: sdram@c0000000 {
        compatible = "mmio-sram";
        device_type = "memory";
        reg = <0xc0000000 DT_SIZE_M(8)>;
        zephyr,memory-region = "SDRAM1";
    };

    aliases {
        led0 = &red_led_1;
        led1 = &green_led_2;
        led2 = &blue_led_3;
    };
};

&rcc {
    d1cpre = <1>;
    hpre = <2>;
    d1ppre = <2>;
    d2ppre1 = <2>;
    d2ppre2 = <2>;
    d3ppre = <2>;
};

&usart1 {
    pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "disabled";
};

&uart4 {
    pinctrl-0 = <&uart4_tx_pa0 &uart4_rx_pi9>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "disabled";
};

&usart6 {
    pinctrl-0 = <&usart6_tx_pg14 &usart6_rx_pg9>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "disabled";
};

&uart8 {
    pinctrl-0 = <&uart8_tx_pj8 &uart8_rx_pj9>;
    pinctrl-names = "default";
    current-speed = <115200>;
    status = "disabled";
};

&i2c1 {
    status = "disabled";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
};

&i2c3 {
    status = "disabled";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c3_scl_ph7 &i2c3_sda_ph8>;
};

&mac {
    status = "disabled";
    pinctrl-names = "default";
    pinctrl-0 = <&eth_ref_clk_pa1
               &eth_mdio_pa2
               &eth_crs_dv_pa7
               &eth_mdc_pc1
               &eth_rxd0_pc4
               &eth_rxd1_pc5
               &eth_tx_en_pg11
               &eth_txd0_pg13
               &eth_txd1_pg12>;
};

&fmc {
    status = "disabled";

    pinctrl-names = "default";
    pinctrl-0 = <
        /* control */
        &fmc_sdclk_pg8    &fmc_sdcke0_ph2
        &fmc_sdnwe_ph5    &fmc_sdne0_ph3
        &fmc_sdncas_pg15  &fmc_sdnras_pf11
        &fmc_nbl0_pe0     &fmc_nbl1_pe1

        /* address */
        &fmc_a0_pf0   &fmc_a1_pf1   &fmc_a2_pf2   &fmc_a3_pf3
        &fmc_a4_pf4   &fmc_a5_pf5   &fmc_a6_pf12  &fmc_a7_pf13
        &fmc_a8_pf14  &fmc_a9_pf15  &fmc_a10_pg0  &fmc_a11_pg1
        &fmc_a12_pg2

        /* bank address */
        &fmc_a14_pg4  &fmc_a15_pg5

        /* data */
        &fmc_d0_pd14  &fmc_d1_pd15  &fmc_d2_pd0   &fmc_d3_pd1
        &fmc_d4_pe7   &fmc_d5_pe8   &fmc_d6_pe9   &fmc_d7_pe10
        &fmc_d8_pe11  &fmc_d9_pe12  &fmc_d10_pe13 &fmc_d11_pe14
        &fmc_d12_pe15 &fmc_d13_pd8  &fmc_d14_pd9  &fmc_d15_pd10
    >;


    sdram {
        status = "disabled";

        power-up-delay = <100>;
        num-auto-refresh = <4>;
        mode-register = <0x0221>;

        refresh-rate = <761>; // 64ms

        bank@0 {
            reg = <0>;

            st,sdram-control = <
                STM32_FMC_SDRAM_NC_8
                STM32_FMC_SDRAM_NR_12
                STM32_FMC_SDRAM_MWID_16
                STM32_FMC_SDRAM_NB_4
                STM32_FMC_SDRAM_CAS_2
                STM32_FMC_SDRAM_SDCLK_PERIOD_2
                STM32_FMC_SDRAM_RBURST_DISABLE
                STM32_FMC_SDRAM_RPIPE_1
            >;
 
            st,sdram-timing = <2 7 4 7 2 2 2>;
        };
    };
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x000000000 0x40000>;
        };

        slot0_partition: partition@40000 {
            label = "image-0";
            reg = <0x00040000 0xC00000>;
        };

        slot1_partition: partition@100000 {
            label = "image-1";
            reg = <0x00100000 0x80000>;
        };

        storage: partition@1C0000 {
            label = "storage";
            reg = <0x001C0000 0x40000>;
        };
    };
};

&i2c1 {
    pmic: i2c1@0x08 {
        compatible = "i2c-device";
        reg = <0x08>;
        label = "PMIC";
    };
    crypto: i2c1@0x48 {
        compatible = "i2c-device";
        reg = <0x48>;
        label = "CRYPTO";
    };
};

&quadspi {
    pinctrl-names = "default";
    pinctrl-0 = <&quadspi_clk_pf10 &quadspi_bk1_ncs_pg6
                 &quadspi_bk1_io0_pd11 &quadspi_bk1_io1_pd12
                 &quadspi_bk1_io2_pf7 &quadspi_bk1_io3_pd13>;

    status = "disabled";
};
