/*
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include "portenta_h7.dtsi"

/ {
    model = "Arduino PORTENTA H7 board";
    compatible = "arduino,portenta-h7";

    chosen {
        zephyr,console = &uart4;
        zephyr,shell-uart = &uart4;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };

    leds {
        red_led_1:led_1 {
            status = "okay";
        };
        green_led_2:led_2 {
            status = "okay";
        };
        blue_led_3:led_3 {
            status = "okay";
        };
    };
};

&oscen {
    status = "okay";
};

&clk_hse {
    hse-bypass;
    clock-frequency = <DT_FREQ_M(25)>;
    status = "okay";
};

&pll {
    clocks = <&clk_hse>;
    div-m = <5>;
    mul-n = <160>;
    div-p = <2>;
    div-q = <10>;
    div-r = <2>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(400)>;
};

&uart4 {
    status = "okay";
};

&mac {
    status = "okay";
};

&rng {
    status = "okay";
};

&i2c1 {
    status = "okay";
};

&fmc {
	status = "okay";
};

&sdram1 {
  status = "okay";
};

// &usbotg_hs {
//     status = "okay";
//     pinctrl-names = "default";
//     pinctrl-0 = <
//       /* USB_OTG_HS */
// 			// &usb_otg_hs_sof_pa4
// 			// &usb_otg_hs_id_pb12
// 			// &usb_otg_hs_vbus_pb13
// 			// &usb_otg_hs_dm_pb14
// 			// &usb_otg_hs_dp_pb15
// 
//       /* USB_OTG_HS_ULPI */
//       &usb_otg_hs_ulpi_clk_pa5
//       &usb_otg_hs_ulpi_d0_pa3
//       &usb_otg_hs_ulpi_d1_pb0
//       &usb_otg_hs_ulpi_d2_pb1
//       &usb_otg_hs_ulpi_d3_pb10
//       &usb_otg_hs_ulpi_d4_pb11
//       &usb_otg_hs_ulpi_d5_pb12
//       &usb_otg_hs_ulpi_d6_pb13
//       &usb_otg_hs_ulpi_d7_pb5
//       &usb_otg_hs_ulpi_stp_pc0
//       &usb_otg_hs_ulpi_nxt_ph4
//       &usb_otg_hs_ulpi_dir_pi11
//     >;
// 
//     cdc_acm_uart0: cdc_acm_uart0 {
//         compatible = "zephyr,cdc-acm-uart";
//         label = "CDC_ACM_0";
//         status = "okay";
//     };
//     num-bidir-endpoints=<6>;
// };

&usbotg_fs {
    status = "okay";
    pinctrl-names="default";
    pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
        status = "okay";
    };
};

&quadspi {
    status = "okay";

    flash-id = <1>;

    mx25l12833f: qspi-nor-flash@0 {
      compatible = "st,stm32-qspi-nor";
      label = "mx25l12833f";
      reg = <0>;
      qspi-max-frequency = <100000000>;
      spi-bus-width = <4>;
      size = <DT_SIZE_M(16*8)>;
      status = "okay";
    };
};
